head
	title= title
	meta(charset="utf-8")
	meta(name="author", content="Javier Diaz Gaitan")
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='//cdn.jsdelivr.net/jquery.metismenu/2.4.2/metisMenu.min.css')
	link(rel='stylesheet', href='/stylesheets/timeline.css')
	link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
	link(rel='stylesheet', href='/stylesheets/sb-admin-2.css')