#page-wrapper
	.row
		.col-lg-12
			h1.page-header Inicio
	.row
		.col-lg-3.col-md-6
			.panel.panel-primary
				.panel-heading
					.row
						.col-xs-3
							i.fa.fa-comments.fa-5x
						.col-xs-9.text-right
							.huge 8
							div Nuevos Mensajes 
				a(href='#')
					.panel-footer
						span.pull-left Ver Mensajes
						span.pull-right
							i.fa.fa-arrow-circle-right
						.clearfix
		.col-lg-3.col-md-6
			.panel.panel-green
				.panel-heading
					.row
						.col-xs-3
							i.fa.fa-tasks.fa-5x
						.col-xs-9.text-right
							.huge 10
							div Pendientes para hoy
				a(href='#')
					.panel-footer
						span.pull-left Ver pendientes
						span.pull-right
							i.fa.fa-arrow-circle-right
						.clearfix
		.col-lg-3.col-md-6
			.panel.panel-yellow
				.panel-heading
					.row
						.col-xs-3
							i.fa.fa-shopping-cart.fa-5x
						.col-xs-9.text-right
							.huge 6
							div Nuevas ordenes 
				a(href='#')
					.panel-footer
						span.pull-left Ver ordenes
						span.pull-right
							i.fa.fa-arrow-circle-right
						.clearfix
		.col-lg-3.col-md-6
			.panel.panel-red
				.panel-heading
					.row
						.col-xs-3
							i.fa.fa-support.fa-5x
						.col-xs-9.text-right
							.huge 13
							div Support Tickets!
				a(href='#')
					.panel-footer
						span.pull-left View Details
						span.pull-right
							i.fa.fa-arrow-circle-right
						.clearfix