// jQuery
script(src='/vendor/jquery/dist/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='/vendor/metisMenu/dist/metisMenu.min.js')
// Custom Theme JavaScript
script(src='/vendor/pouchdb-5.3.0.min.js')
//script(src='/javascripts/db.js')
script(src='/javascripts/sb-admin-2.js')
script(src='https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js')
