// jQuery
script(src='/vendor/jquery/dist/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='/vendor/metisMenu/dist/metisMenu.min.js')
// Custom Theme JavaScript
script(src='/javascripts/sb-admin-2.js')