doctype html
html(lang="es")
	include ./includes/head.jade
	body
		include ./includes/modal.jade
		include ./includes/navbar.jade
		#wrapper Aqui va todo el contenido
		include ./includes/scriptsfinales.jade
