doctype html
html(lang="es")
 head
  title= title
  meta(charset="utf-8")
  meta(name="author", content="Javier Diaz Gaitan")
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/metisMenu/2.4.2/metisMenu.min.css')
  link(rel='stylesheet', href='/stylesheets/timeline.css')
  link(rel='stylesheet', href='/stylesheets/sb-admin-2.css')
  link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
 body
  block topnav
  block content
      // jQuery
  script(src='/vendor/jquery/dist/jquery.min.js')
  // Bootstrap Core JavaScript
  script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
  // Metis Menu Plugin JavaScript
  script(src='/vendor/metisMenu/dist/metisMenu.min.js')
  // Custom Theme JavaScript
  script(src='/javascripts/sb-admin-2.js')