doctype html
html(lang="es")
 head
  title= title
  meta(charset="utf-8")
  meta(name="author", content="Javier Diaz Gaitan")
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
 body
  block content