doctype html
html(lang="es")
	include ./includes/head.jade
	body: #wrapper 
		include ./includes/modal.jade
		include ./includes/navbar.jade
		#page-wrapper.container-fluid 
			block contenido
	include ./includes/scriptsfinales.jade