extends layout

block contenido
	div.page-header 
		.row
			.col-lg-6: h3 Lista de Clientes
	.row
		.col-md-12.col-lg-8: .panel.panel-primary
			.panel-heading: h4.panel-title Lista de clientes
			.panel-body
				table.table.table-condensed.table-hover
					thead: tr
						th ID
						th Nombre
						th Cambios
						th Contacto
						th Status
					tbody
						each c in clientes
							tr
								td= c.id
								td= c.nombre
								td Sin cambios
								td Roberto Diaz Gaitan
								td Pendiente visitar
		.col-md-12.col-lg-4: .panel.panel-primary.panel
			.panel-heading: h4.panel-title Enemedios
			.panel-body
				p.direccion Violetas mz 170 lt 36, Ojo de agua.
				p.direccion Tecamac, Estado de Mexico, CP 55770
				table.table.table-condensed.table-hover
					tr
						th Mes
						th Tamaño
						th Debe
					tr
						td Febrero 2016
						td 1/2
						td Pagado
					tr
						td Marzo 2016
						td 1/2
						td $500