extends layout

block contenido
	div.page-header: h3 Nuevo Cliente
	form.form-horizontal
		.row
			.col-md-6: .panel.panel-primary
				.panel-heading: h4 Datos Generales de la Empresa
				.panel-body
					mixin form-group(nombre,id,tipo,leyenda)
						div.form-group
							label.control-label.col-sm-2(for=nombre)= nombre
							.col-sm-10: input.form-control(id=id, type=tipo, placeholder=leyenda)
					+form-group('Empresa','empresa','text','Nombre de la Empresa')
					+form-group('Razon social','cliente','text','Razon social del cliente')
					div.form-group
						label.control-label.col-sm-2(for='giro') Categoria 
						.col-sm-10: select.form-control#giro
							option El menú
							option Abarrotes
							option Eventos Especiales
							option Regalos y Flores
							option Ropa y Accesorios
							option Bebés y Niños
							option Educación
							option Papelerías
							option Especialistas y Profesionales
							option Turismo y Esparcimiento
							option Computación y Telecomunicaciones
							option Mascotas y Animales
							option Salud
							option Belleza
							option Deportes
							option Construcción y Mantenimiento
							option Vehículos
					+form-group('Telefono','telefono','text','Telefono de la empresa')
					+form-group('Web','web','text','Direccion del sitio web de la empresa')
			.col-md-6: div.panel.panel-primary
				div.panel-heading: h4 Contactos
				div.panel-body 
					h5 Primero contacto
					+form-group('Nombre','nombre_c1','text','Nombre del contacto')
					+form-group('Posicion','posicion_c1','text','Posicion dentro de la empresa')
					+form-group('Telefono','telefono_c1','text','Telefono del contacto')
					+form-group('Correo','correo_c1','text','Corrego web del contacto')
		.row
			.col-md-6: div.panel.panel-primary
				div.panel-heading: h4 Direccion
				div.panel-body
					+form-group('Calle','calle','text','Calle de la empresa')
					+form-group('Numero exterior','num_exterior','text','Numero exterior (manzana y lote)')
					+form-group('Numero interior','num_interior','text','Numero interior (edificio y departamento)')
					+form-group('Colonia','colonia','text','Colonia')
					+form-group('Municipio','municipio','text','Municipio')
					+form-group('Ciudad','ciudad','text','Ciudad')
					+form-group('Estado','estado','text','Estado')
			.col-md-6: div.panel.panel-primary
				div.panel-heading: h4 Localizacion
				.panel-body: img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')